<div ng-controller="registrationCtrl">
    <div class="branding"><a href="#!">angularJS</a></div>
    <div ng-hide="firebaseUser">
        <ul>
            <li><a href="#!login">Login</a></li>
            <li><a href="#!register">Register</a></li>
        </ul>
    </div>
    <div ng-show="firebaseUser">
        <ul>
            <li><a class="logout" ng-click="logout()">Logout</a></li>
            <li><p class="welcomeUser">Hi, {{firebaseUser.displayName}}</p></li>
        </ul>
    </div>
</div>
