<section class="card register" ng-controller="registrationCtrl">
    <form name="myform" ng-submit="register(user)" novalidate>
        <div class="textintro">
            <h1>Register</h1>
            <p>To access site features</p>
            <p class="message" ng-show="true">{{message}}</p>
        </div>
        <fieldset>
            <input type="text" ng-model="user.username" name="username" placeholder="Username" ng-require="true">
            <p class="error validationerror" ng-show="myform.username.$touched && myform.username.$invalid">Username required.</p>
            <input type="text" ng-model="user.firstname" name="firstname" placeholder="First Name" ng-require="true">
            <p class="error validationerror" ng-show="myform.firstname.$touched && myform.firstname.$invalid">First Name required.</p>
            <input type="text" ng-model="user.lastname" name="lastname" placeholder="Last Name" ng-require="true">
            <p class="error validationerror" ng-show="myform.lastname.$touched && myform.lastname.$invalid">Last Name required.</p>
            <input type="email" ng-model="user.email" name="email" placeholder="Email"  ng-require="true">
            <p class="error validationerror" ng-show="myform.email.$touched && myform.email.$invalid">Invalid Email Address.</p>
            <input type="password" ng-model="user.password" name="password" placeholder="Password"  ng-require="true">
            <p class="error validationerror" ng-show="myform.password.$touched && myform.password.$invalid">Password Required.</p>
        </fieldset>

        <button type="submit" ng-disabled="myform.$invalid" class="btn">Register</button>
        <p>or <a href="#/login">login</a></p>
    </form>
</section>
