<section class="card login" ng-controller="registrationCtrl">
    <form ng-submit="login(user)" name="myform" novalidate>
        <div class="textintro">
            <h1>Hi there!</h1>
            <p>Log-in to access the awesomeness!</p>
            <p class="message" ng-show="true">{{message}}</p>
        </div>
        <fieldset>
            <input type="email" name="email" placeholder="Email" ng-model="user.email" ng-required="true" >
            <p class="error validationerror" ng-show="myform.email.$touched && myform.email.$invalid">Please provide Valid Email Address</p>
            <input type="password" name="password" placeholder="Password" ng-model="user.password" ng-required="true">
            <p class="error validationerror" ng-show="myform.password.$touched && myform.password.$invalid">Password Required</p>
        </fieldset>
        <button ng-disabled="myform.$invalid" type="submit" class="btn">Login</button>
        <p>or <a href="#!register">register</a></p>
    </form>
</section>
