<nav class="navbar navbar-inverse navbar-fixed-top">
    <a href="#/" class="navbar-brand"><img  src="../images/logo.png" alt="Logo"></a>
    <div class="navbar-text pull-right">
        <div class="navbar-nav" id="navigation">
            <loader ng-show="isLoading"></loader>
            <a href="#/" class="navbar-link"><span class="glyphicon glyphicon-home"></span></a>
            <a href="#/settings" class="navbar-link"><span class="glyphicon glyphicon-queen"></a>
        </div>
    </div>
</nav>
<!--navigation-->